@media (max-width:950px){
    .services__block{
        flex-direction: column;
    }
    .block__title{
        font-size: 40px;
    }
}
@media (max-width:580px){
    .services__list li p {
        font-size: 18px;
    }
    .services__list--fc li:first-child p{
        font-size: 25px;
    }
    .services__list--fc li:first-child p::before{
        width: 37px;
    }
}
@media (max-width:480px) {
    .block__title{
        font-size: 30px;
    }
    .services__list--fc li:first-child p{
        font-size: 22px;
    }
}
@media (max-width:380px) {
    .block__title{
        font-size: 28px;

    }
}