.main_navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    .navbars_block {
        width: 100%;
    }
    .logo_block {
        width: calc(80px + (120 - 80) * ((100vw - 800px) / (1600 - 800)));
        margin-top: 50px;
        // margin-right: calc(
        //     -15px + (-25 - -15) * ((100vw - 800px) / (1600 - 800))
        // );
        margin-right: 10px;
        > img {
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    .main_navbar {
        .navbars_block {
        }
        .logo_block {
            display: none;
            > img {
            }
        }
    }
}
