/* .container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
} */
/* @media (min-width: 2800px) {
    .container {
        max-width: 2000px;
    }
}
@media (max-width: 1700px) {
    .container {
        max-width: 1400px;
    }
} */
