@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

li,
ul {
    list-style: none;
}

.d-none {
    display: none;
}

.App {
    overflow-x: hidden;
}

.container {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-4 {
    width: 33.3%;
    padding: 0 15px;
}
.col-3 {
    width: 25%;
    padding: 0 15px;
}

.purple {
    color: #9b51e0;
}
.blue {
    color: #107ebd;
    font-weight: 700;
}
.redy {
    color: #ec2a48;
    font-weight: 700;
}
.yellow {
    color: #f2994a;
}
.green {
    color: #219653;
}
.black {
    color: black;
}
.paginate_block {
    display: flex;
    align-items: center;
    width: 380px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    font-family: "Montserrat";
    font-weight: 600;
    > div {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #d7d7db;
        border-radius: 10px;
        cursor: pointer;
        background-color: #fff;
    }
    > p {
        cursor: pointer;
    }
}
@media (max-width: 500px) {
    .paginate_block {
        width: 90%;
    }
}

// @media screen and (max-width: 1400px) {
//     .container {
//         max-width: 1140px;
//     }
// }

// @media screen and (max-width: 1200px) {
//     .container {
//         max-width: 960px;
//     }
// }

// @media screen and (max-width: 992px) {
//     .container {
//         max-width: 720px;
//     }
// }

// @media screen and (max-width: 768px) {
//     .container {
//         max-width: 540px;
//     }
// }

// @media screen and (max-width: 576px) {
//     .container {
//         max-width: 100%;
//         padding: 0 10px;
//     }
// }
